.page-wrapper{
    width: 100vw;
    height: 100vh;
}

.page-wrapper > .side{
    width: 100%;
    max-width: 1920px;
}

.page-wrapper .top-menu{
    background-color: #F2F2F2;
    border-bottom: 1px solid #CCC;
    padding: 10px;
}

.page-wrapper .top-menu .logo{
    width: 45px;
    max-width: 45px;
    height: 35px;
    background-image: url("/src/img/test_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.page-wrapper .top-menu .soft-name{
    max-width: 200px;
    line-height: 14px;
}

.page-wrapper .top-menu .account-holder{
    min-width: 200px;
}

.page-wrapper .top-menu .account-holder .avatar{
    width: 40px;
    height: 40px;
    background-color: #DDD;
    border-radius: 8px;
    margin-right: 5px;
    background-image: url("/src/img/user_avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

.page-wrapper .top-menu .account-holder .logout-holder{
    border-left: 1px solid #CCC;
    padding: 5px 5px 5px 15px;
    margin-left: 10px;
}

.page-wrapper .top-menu .account-holder .logout-button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-image: url("/src/img/logout_button.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-wrapper .top-menu .account-holder .login{
    background-color: #222;
    font-size: 12px;
    color: #FFF;
    padding: 2px 7px 2px 7px;
    margin-top: 2px;
    border-radius: 100px;
}

.page-wrapper .left-menu{
    min-width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #CCC;
    background-color: #FAFAFA;
}

.page-wrapper .left-menu .item{
    border-bottom: 1px solid #CCC;
    width: 100%;
}

.page-wrapper .left-menu .item a{
    text-decoration: none;
    color: #000;
}

.page-wrapper .left-menu .item a div{
    width: 100%;
    padding: 15px 10px 15px 10px;
}

.page-wrapper .left-menu .item a div:hover{
    background-color: #F2F2F2;
}

.page-wrapper .content-area{
    padding: 10px;
    height: 100%;
    overflow: auto;
}

.page-wrapper .content-area .category-title{
    font-size: 24px;
    padding: 5px;
}

.page-wrapper .content-area .inputs-row{
    width: 100%;
    max-width: 500px;
    margin: 2px 0px 0px 0px;
    background-color: #F2F2F2;
}

.page-wrapper .content-area .inputs-row .inputs-name{
    border-right: 2px solid #FFF;
    max-width: 225px;
    min-width: 225px;
    padding: 10px;
    font-size: 16px;
}

.page-wrapper .content-area .inputs-row .input{
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    color: #000;
    font-size: 16px;
}

.page-wrapper .content-area .inputs-row .dis-input{
    color: #777;
}

.common-button{
    position: relative;
	top: 0px;
	background: none;
	border: none;
	outline: none;
	background-color: #e592b8;
	background: linear-gradient(45deg, #e592b8, #6cf5c2);
	padding: 10px 20px 10px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 2px 0px #DDD;
}

.common-button:hover{
	top: 1px;
	box-shadow: 1px 1px 2px 0px #DDD;
}

.error-text{
    color: #A00;
    padding: 10px;
    font-size: 18px;
    background-color: #FEE;
}

.success-text{
    color: #0A0;
    padding: 10px;
    font-size: 18px;
    background-color: #EFE;
}